<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/testcss.css">
    <link rel="icon" href="/images/favicon.ico">
    <title>Kur</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a th:href="@{/page/kur}">KUR</a>
            </li>
            <li>
                <a th:href="@{/page/register}">REGISTER</a>
            </li>
            <li>
                <a th:href="@{/page/login}">LOGIN</a>
            </li>
            <li>
                <a th:href="@{/logout}">LOGOUT</a>
            </li>
        </ul>
    </nav>
</header>
<h1 Welcome from login page></h1>


</body>
</html>